@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .pageBtn {
  padding: 0.5rem;
  background-color: gray;
} */

* {
  background: #f3f4f6;
  color: #000;
}
body {
  /* background: #f3f4f6;
  color: #000; */
  min-height: 100vh;
}

@layer components {
  .pageBtn {
    @apply px-4 py-2 bg-gray-200 rounded disabled:opacity-50 cursor-pointer;
  }
}
