@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .pageBtn {
  padding: 0.5rem;
  background-color: gray;
} */

* {
  /* background: #f3f4f6; */
  color: #000;
  /* background-color: transparent; */
}

/* body {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  min-height: 100vh;
  transition: background-image 0.8s ease-in-out;
}
body:hover {
  background-image: linear-gradient(to left, #feb47b, #ff7e5f);
} */

/* Infinity Gradient */
body {
  background: linear-gradient(-45deg, #ff7e5f, #feb47b, #86fde8, #acb6e5);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  min-height: 100vh;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pointer-cursor {
  cursor: pointer;
}

@layer components {
  .pageBtn {
    @apply px-4 py-2 bg-gray-200 rounded disabled:opacity-50 cursor-pointer;
  }
}

@media screen and (max-width: 420px) {
  .break-bar {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .xs-profile-container {
    padding: 1rem;
  }
}
